# ================================
# Python
# ================================
__pycache__/
*.py[cod]

# ================================
# Virtual environments
# ================================
.venv/
venv/

# ================================
# Jupyter
# ================================
.ipynb_checkpoints/

# ================================
# Ingestion data (raw telemetry)
# ================================
data/raw/
*.csv

# ================================
# Outputs (alerts & diagnostics)
# ================================
outputs/
*.parquet

# ================================
# OS / IDE
# ================================
.DS_Store
Thumbs.db
.vscode/
.idea/
